@model BookStoreWebApplication.Models.Book

@{
    ViewData["Title"] = "Додати книгу";
}

<h2>Додати книгу</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationYear" class="control-label"></label>
                <input asp-for="PublicationYear" class="form-control" />
                <span asp-validation-for="PublicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverType" class="control-label"></label>
                <input asp-for="CoverType" class="form-control" />
                <span asp-validation-for="CoverType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="GenreIds" class="control-label"></label>
				<select asp-for="GenreIds" class="form-control" multiple>
					@foreach (Genre genre in ViewBag.AllGenres)
					{
						<option value="@genre.Id">@genre.Name</option>
					}
				</select>
                <span asp-validation-for="GenreIds" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="AuthorIds" class="control-label"></label>
                <select asp-for="AuthorIds" style="width:300px;" multiple multiselect-search="true">
                    @foreach (Author author in ViewBag.AllAuthors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                </select>
                <span asp-validation-for="AuthorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до книг</a>
</div>


<script src="~/js/multiselect-dropdown.js" type="text/javascript"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
